<div class="toc">
  <h2>Index by Author </h2>
  <ul class="inscriptions">
    <% auths = authors
       col1 = authors.size / 3
       col2 = col1 + 1
       col3 = col1 + col2
    %>
    <% for author in auths.slice(0, col1) %>
    <li><%= author %>
      <ul>
        <% for reading in readings_for_author(author) %>
        <li><%= reading[:title] %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>

  <ul class="inscriptions" start="<%= col2 %>">
    <% for author in auths.slice(col1, col2) %>
    <li><%= author %>
      <ul>
        <% for reading in readings_for_author(author) %>
        <li><%= reading[:title] %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>

  <ul class="inscriptions" start="<%= col2 %>">
    <% for author in auths.slice(col3, authors.size) %>
    <li><%= author %>
      <ul>
        <% for reading in readings_for_author(author) %>
        <li><i><%= reading[:title] %></i></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>

</div>
