<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= @site.config[:title] %>: <%= @item[:title] %> <% if @item[:author] %> <%= @item[:author] %> <% end %></title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script src="/js/master.js"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26426915-2']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>
  <div id="main">
    <header>
    <a class="logo" href="/"><img src="/img/tsr.png"></a>
    <div class="extras">
      <a href="<%= @site.config[:feedburner_url] %>" title="Subscribe via RSS"><img src="/img/rss-25.png"></a>
      <a href="<%= @site.config[:itunes_url] %>" title="Subscribe via iTunes"><img src="/img/itunes.png"></a>
    </div>
    </header>

    <%= yield %>
    <div class="push"></div>
  </div>

  <footer>
      <h2><i>The Spoken Rune</i> is a collection of verse and prose read aloud.</h2>
      <ul>
        <li><%= link_to('Subscribe via RSS', @site.config[:feedburner_url], :title => 'Subscribe via RSS') %></li>
        <li><%= link_to('Add the podcast in iTunes', @site.config[:itunes_url], :title => 'Add the podcast in iTunes') %></li>
      </ul>

      <p>All text read by <a href="http://chigby.org">Cameron Higby-Naquin</a>.</p>
      <p>Site artwork and symbols by <a href="http://monsterism.tumblr.com/">Marcelo Gallegos</a>.</p>
      <p><a href="mailto:<%= @site.config[:author_email] %>">Contact the site maintainer.</a></p>
  </footer>
</body>

</html>
