<nav>
  <img src="/img/inscriptions.png">
  <!-- TODO: order the below by date published -->
  <%= render 'navgroup', :title => 'Most Recent', :readings => sorted_readings[0..5] %>
  <%= render 'navgroup', :title => 'Favorites', :readings => items_with_tag('favorite') %>
  <%= render 'navgroup', :title => 'Love', :readings => items_with_tag('love') %>
  <%= render 'navgroup', :title => 'Otherworldly', :readings => items_with_tag('otherworldly') %>
  <%= render 'navgroup', :title => 'Haunting', :readings => items_with_tag('haunting') %>
  <%= render 'navgroup', :title => 'Enigmatic', :readings => items_with_tag('enigmatic') %>
  <%= render 'navgroup', :title => 'Classical Greats', :readings => items_with_tag('classical-greats') %>

  <br/>
  <i>
    <%=
       chronological = @items.find { |i| i.identifier == '/chronological/' }
       link_to('More inscriptions &#8230;', chronological)
    %>
  </i>
</nav>
