<nav>
  <img src="/img/inscriptions.png" alt="Inscriptions">
  <%
     recent = sorted_readings[0..2]
     fav = sort_by_date(items_with_tag('favorite') - recent)
     love = sort_by_date(items_with_tag('love') - fav - recent)
     otherw = sort_by_date(items_with_tag('otherworldly') - love - fav - recent)
     haunt = sort_by_date(items_with_tag('haunting') - otherw - love - fav - recent)
     enig = sort_by_date(items_with_tag('enigmatic') - haunt - otherw - love - fav - recent)
  %>

  <%= render 'navgroup', :title => 'Most Recent', :readings => recent %>
  <%= render 'navgroup', :title => 'Favorites', :readings => fav %>
  <%= render 'navgroup', :title => 'Love &amp; Longing', :readings => love %>
  <%= render 'navgroup', :title => 'Otherworldly', :readings => otherw %>
  <%= render 'navgroup', :title => 'Haunting', :readings => haunt %>
  <%= render 'navgroup', :title => 'Enigmatic', :readings => enig %>
  <br/>
  <span class="more-nav">
    <%=
       more = @items.find { |i| i.identifier == '/authors/' }
       link_to('Complete index', more)
    %>
  </span>
</nav>
