<nav>
  <img src="/img/inscriptions.png" alt="Inscriptions">
  <!-- TODO: order the below by date published -->
  <%
     recent = sorted_readings[0..2]
     fav = items_with_tag('favorite') - recent
     love = items_with_tag('love') - fav - recent
     otherw = items_with_tag('otherworldly') - love - fav - recent
     haunt = items_with_tag('haunting') - otherw - love - fav - recent
     enig = items_with_tag('enigmatic') - haunt - otherw - love - fav - recent
  %>

  <%= render 'navgroup', :title => 'Most Recent', :readings => recent %>
  <%= render 'navgroup', :title => 'Favorites', :readings => fav %>
  <%= render 'navgroup', :title => 'Love', :readings => love %>
  <%= render 'navgroup', :title => 'Otherworldly', :readings => otherw %>
  <%= render 'navgroup', :title => 'Haunting', :readings => haunt %>
  <%= render 'navgroup', :title => 'Enigmatic', :readings => enig %>
  <br/>
  <i>
    <%=
       more = @items.find { |i| i.identifier == '/authors/' }
       link_to('More inscriptions &#8230;', more)
    %>
  </i>
</nav>
