<%= render 'nav' %>

<article>
    <audio controls class="basic-audio">
        <source src="<%= s3_url @item[:filename] %>" type="audio/mp3">
        <source src="<%= s3_url @item[:filename], "ogg" %>" type="audio/ogg">
    </audio>
  <p class="download">
    <a href="<%= s3_url @item[:filename] %>" id="download">
      <img src="/img/download.png">
    </a>
  </p>

  <img class="art" alt="<%= @item[:title] %> Image" src="<%= @item[:image_url] %>" />
  <br/>

  <div class="info">
     <%= @item.compiled_content(:snapshot => :guts) %>
     <% if @items.select { |i| i[:author] == item[:author] and i[:title] != item[:title] }.size > 0 %>
       Other works by <%= @item[:author] %>
       <ul>
       <% @items.select { |i| i[:author] == item[:author] and i[:title] != item[:title] }.each do |i| %>
       <li><%= link_to(apostrophize(i[:title]), i.path) %></li>
       <% end %>
       </ul>
     <% end %>
  </div>
</article>
